<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Condicionales - Vue.js</title>
</head>
<body>
	<div id="app">
	<!--
		<div v-if="mostrar">			
			<h1>Título</h1>
			<h2>Subtítulo</h2>
			<a :href="url" target="_blank">Ir a {{ pagina }}</a>
		</div>
	-->
		<template v-if="mostrar">			
			<h1>Título</h1>
			<h2>Subtítulo</h2>
			<a :href="url" target="_blank">Ir a {{ pagina }}</a>
		</template>

		<hr>
		<!-- 
			La diferencia entre 'v-if' y 'v-show' es que 'v-if' cuando está
			en FALSE elimina el elemento de DOM, en cambio 'v-show' para ocultarlo
			le agrega el atributo 'style' y le asigna la propiedad 'display:none',
			al final elemento que de la siguiente manera: <div style="display:none;"></div>
		-->
		<div v-show="mostrar">			
			<h1>Título 2</h1>
			<h2>Subtítulo 2</h2>
			<a :href="url" target="_blank">Ir a {{ pagina }}</a>
		</div>

		<div v-show="!mostrar">
			Contenido oculto.
		</div>
	</div>
	
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				url: 'https://google.com',
				pagina: 'Google',
				mostrar: true
			}
		})
	</script>
</body>
</html>